@import "mocha.css";

* {
    border: none;
    border-radius: 0;
    font-family: "LXGW Neo XiHei, HanaMinB";
    font-size: 14px;
    min-height: 0;
}

tooltip {
  background: rgba(43, 48, 59, 0.5);
  border: 1px solid rgba(100, 114, 125, 0.5);
}
tooltip label {
  color: white;
}

#workspaces button {
    padding: 0 5px;
    background: transparent;
    color: white;
    border-bottom: 3px solid transparent;
}

#workspaces button.focused {
    background: #64727D;
    border-bottom: 3px solid white;
}

#pulseaudio {
    background-color: @surface0;
    color: @text;
    margin-left: 1rem;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#pulseaudio, #network, #power-profiles-daemon, #cpu, #memory, #temperature, #battery, #clock, #tray {
    padding: 0 0.5rem;
}

#mode {
    background: #64727D;
    border-bottom: 3px solid white;
    padding: 0 1rem;
}

#clock {
    background-color: @base;
    color: @text;
}

#battery {
    background-color: #ffffff;
    color: black;
}

#battery.charging {
    color: white;
    background-color: #26A65B;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}

#battery.warning:not(.charging) {
    background: #f53c3c;
    color: white;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#custom-notification {
    font-family: "JetBrainsMono Nerd Font";
    padding-right: 1rem;
}
